{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Профиль</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">


    <style>
        body {
            background-color: #f9f9fa;
            width: 100vw;
            height: 100vh;
        }

        .padding {
            padding: 1rem;
        }


        .user-card-full {

            overflow: hidden;
        }

        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            border: none;
            margin-bottom: 30px;
            padding: 50px;
        }

        .m-r-0 {
            margin-right: 0px;
        }

        .m-l-0 {
            margin-left: 0px;
        }

        .user-card-full .user-profile {
            border-radius: 5px 0 0 5px;
        }

        .bg-c-lite-green {
            background: linear-gradient(to top, #4b35d9, #eb31a7);
            box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        }

        .user-profile {
            padding: 20px 0;
        }

        .card-block {
            padding: 1.25rem;
        }

        .m-b-25 {
            margin-bottom: 25px;
        }

        .img-radius {
            border-radius: 5px;
        }



        h6 {
            font-size: 14px;
        }

        .card .card-block p {
            line-height: 25px;
        }


        @media only screen and (min-width: 2400px) {
            p {
                font-size: 14px;
            }
        }

        .card-block {
            padding: 1.25rem;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .card .card-block p {
            line-height: 25px;
        }

        .m-b-10 {
            margin-bottom: 10px;
        }

        .text-muted {
            color: #919aa3 !important;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .f-w-600 {
            font-weight: 600;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .m-b-10 {
            margin-bottom: 10px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .user-card-full .social-link li {
            display: inline-block;
        }

        .user-card-full .social-link li a {
            font-size: 20px;
            margin: 0 10px 0 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .card-shadow {
            /* padding:.5rem; */
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media screen and (max-width:600px) {
            .padding {
                padding: 0;
            }
        }
        
        /* Стили для иконки просмотров */
        .view-icon i {
            margin-right: 4px;
            color: inherit;
        }

        /* Стиль для постов, которые можно редактировать */
        .border-left-info {
            border-left: 4px solid #17a2b8 !important;
        }
    </style>
</head>

<body>

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <h2>WordFlow</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link" href="{% url 'index' %}">Главная
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">Посты</a>
                        </li>

                        {% if user.is_authenticated %}
                        {% load post_extras %}
                        {% if user|can_create_posts %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">Создать</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' user.id %}">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signin' %}">Вход</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="mt-3">
        <div class="page-content page-container p-lg-5 p-0" id="page-content">
            <div class="padding">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-12 col-md-12" id="card">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-4 bg-c-lite-green user-profile">
                                    <div class="card-block text-center text-white">
                                        <div class="m-b-25">

                                            <img src="{% static 'assets/images/user.png' %}" class="img-radius"
                                                alt="User-Profile-Image" style="border-radius: 50%;">

                                        </div>
                                        <h6 class="f-w-800 h3" style="text-transform: capitalize;">{{user.username}}
                                        </h6>
                                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600"
                                            style="font-size: 30px; padding: 20px;  color: #7461f3;">Профиль <a
                                                href="{% url 'profileedit' user.id %}"
                                                class="float-right text-decoration-none text-success"
                                                style="font-size: 15px;">Редактировать профиль</a>
                                        </h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600 text-dark">Имя :-
                                                    <span class="text-muted f-w-400">{{user.first_name}}</span>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600 text-dark">Фамилия :-
                                                    <span class="text-muted f-w-400">{{user.last_name}}</span>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600 text-dark">Почта :-
                                                    <span class="text-muted f-w-400">{{user.email}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="small fw-bold pt-3 text-dark">Мои посты</p>
                                        <hr>

                                        <div class="row row-cols-lg-2 row-cols-1">
                                            {% for post in posts%}
                                            <div class="col col-lg-6 col-12 mb-2">
                                                <img src="{{media_url}}{{post.image}}" alt="" height="300px"
                                                    width="100%">
                                                <div class="px-3 py-2 shadow{% if post in editable_posts %} border-left-info{% endif %}">
                                                    <h5>{{post.postname}}
                                                        {% if post in editable_posts %}
                                                        <small class="text-info">(можно редактировать)</small>
                                                        {% endif %}
                                                    </h5>
                                                    {% if user == profile_user %}
                                                    <a href="{% url 'deletepost' post.id %}"><button
                                                            class="ms-2 float-right small" type="submit"
                                                            style="border:2px solid rgb(252, 63, 42); border-radius: 5px; background-color: rgb(246, 148, 141);">Удалить</button></a>
                                                    {% endif %}
                                                    {% if user == profile_user or post in editable_posts %}
                                                    <a href="{% url 'editpost' post.id %}"><button
                                                            class="float-right small" type="submit"
                                                            style="border:2px solid rgb(64, 108, 251); border-radius: 5px; background-color: rgb(141, 169, 246);">
                                                            {% if post in editable_posts and user != profile_user %}Редактировать{% else %}Обновить{% endif %}
                                                    </button></a>
                                                    {% endif %}
                                                    <span
                                                        class="text-white {% if post in editable_posts %}bg-info{% else %}bg-success{% endif %} rounded-3 px-2 rounded-2">{{post.category}}</span>
                                                    <p>{{post.content|safe|slice:"0:20"}}...</p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <p class="small text-primary mb-0">{{post.time}}</p>
                                                            <p class="small text-muted mb-0">Автор: {{post.user.username}}</p>
                                                        </div>
                                                        <div>
                                                            <span class="text-danger small me-2">❤ {{post.likes}}</span>
                                                            <span class="text-muted small me-2"><span class="view-icon"><i class="fas fa-eye"></i><noscript>👁</noscript></span> {{post.views}}</span>
                                                            <span class="text-muted small"><i class="fa fa-comment"></i> 0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        {% if editable_posts %}
                                        <p class="small fw-bold pt-3 text-dark">Посты для редактирования</p>
                                        <hr>

                                        <div class="row row-cols-lg-2 row-cols-1">
                                            {% for post in editable_posts %}
                                            <div class="col col-lg-6 col-12 mb-2">
                                                <img src="{{media_url}}{{post.image}}" alt="" height="300px"
                                                    width="100%">
                                                <div class="px-3 py-2 shadow" style="border-left: 4px solid #007bff;">
                                                    <h5>{{post.postname}}</h5>
                                                    <a href="{% url 'editpost' post.id %}"><button
                                                            class="float-right small" type="submit"
                                                            style="border:2px solid rgb(64, 108, 251); border-radius: 5px; background-color: rgb(141, 169, 246);">Редактировать</button></a>
                                                    <span
                                                        class="text-white bg-info rounded-3 px-2 rounded-2">{{post.category}}</span>
                                                    <p>{{post.content|safe|slice:"0:20"}}...</p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <p class="small text-primary mb-0">{{post.time}}</p>
                                                            <p class="small text-muted mb-0">Автор: {{post.user.username}}</p>
                                                        </div>
                                                        <div>
                                                            <span class="text-danger small me-2">❤ {{post.likes}}</span>
                                                            <span class="text-muted small me-2"><span class="view-icon"><i class="fas fa-eye"></i><noscript>👁</noscript></span> {{post.views}}</span>
                                                            <span class="text-muted small"><i class="fa fa-comment"></i> 0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

      </div>
                        
                        {% if user.is_superuser and user.id == profile_user.id %}
                        <div class="card mt-4">
                            <div class="card-header">
                                <h5 class="mb-0">Управление глобальными редакторами</h5>
                            </div>
                            <div class="card-body">
                                <!-- Текущие глобальные редакторы -->
                                <div class="mb-4">
                                    <h6>Текущие глобальные редакторы:</h6>
                                    {% if global_editors %}
                                    <div class="row">
                                        {% for editor in global_editors %}
                                        <div class="col-md-6 mb-2">
                                            <div class="d-flex justify-content-between align-items-center p-2 border rounded">
                                                <div>
                                                    <strong>{{ editor.user.username }}</strong>
                                                    <small class="text-muted d-block">{{ editor.user.first_name }} {{ editor.user.last_name }}</small>
                                                    <small class="text-muted">Назначен: {{ editor.assigned_at|date:"d.m.Y H:i" }}</small>
                                                </div>
                                                <form method="post" action="{% url 'manage_global_editors' %}" class="d-inline">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="remove">
                                                    <input type="hidden" name="user_id" value="{{ editor.user.id }}">
                                                    <button type="submit" class="btn btn-sm btn-danger" 
                                                            onclick="return confirm('Убрать {{ editor.user.username }} из глобальных редакторов?')">
                                                        <i class="fas fa-times"></i> Убрать
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <p class="text-muted">Нет назначенных глобальных редакторов</p>
                                    {% endif %}
                                </div>

                                <!-- Добавление нового глобального редактора -->
                                <div>
                                    <h6>Назначить нового глобального редактора:</h6>
                                    {% if available_users %}
                                    <form method="post" action="{% url 'manage_global_editors' %}" class="row g-3">
                                        {% csrf_token %}
                                        <div class="col-md-8">
                                            <select name="user_id" class="form-select" required>
                                                <option value="">Выберите пользователя...</option>
                                                {% for user in available_users %}
                                                <option value="{{ user.id }}">{{ user.username }} - {{ user.first_name }} {{ user.last_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="action" value="add">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fas fa-plus"></i> Назначить редактором
                                            </button>
                                        </div>
                                    </form>
                                    {% else %}
                                    <p class="text-muted">Все пользователи уже назначены редакторами или являются администраторами</p>
                                    {% endif %}
                                </div>

                                <div class="mt-3">
                                    <small class="text-muted">
                                        <i class="fas fa-info-circle"></i> 
                                        Глобальные редакторы могут создавать новые посты в системе. 
                                        Убрав пользователя из редакторов, вы лишите его возможности создавать посты.
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>